// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyelec.com)
 */

/dts-v1/;

#include "rk3528-nanopi-common.dtsi"

/ {
	model = "FriendlyElec NanoPi NEO3 Plus";
	compatible = "friendlyelec,nanopi-neo3-plus", "rockchip,rk3528";

	leds: gpio-leds {
		compatible = "gpio-leds";

		sys_led: led-0 {
			gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
			label = "sys_led";
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&sys_led_pin>;
		};

		user_led: led-1 {
			gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
			label = "user_led";
			pinctrl-names = "default";
			pinctrl-0 = <&user_led_pin>;
		};
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		back-key {
			label = "back";
			linux,code = <KEY_BACK>;
			press-threshold-microvolt = <1750>;
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&key1_pin>;

		button@1 {
			debounce-interval = <50>;
			gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_LOW>;
			label = "K1";
			linux,code = <BTN_1>;
			wakeup-source;
		};
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		fan-supply = <&vcc5v0_sys>;
		pwms = <&pwm4 0 50000 0>;
		cooling-levels = <0 35 64 100 150 255>;
		rockchip,hold-time-ms = <2000>;
		rockchip,temp-trips = <
			50000   1
			55000   2
			60000   3
			65000   4
			70000   5
		>;
	};
};

&mach {
	hwrev = <2>;
	model = "NanoPi NEO3 Plus";
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x30>;
	/* rx_delay = <0x3f>; */

	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_miim
		     &rgmii_tx_bus2
		     &rgmii_rx_bus2
		     &rgmii_rgmii_clk
		     &rgmii_rgmii_bus
		     &eth_pins>;

	phy-handle = <&rgmii_phy>;
	status = "okay";
};

&mdio1 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		realtek,ledsel = <0xae00>;
	};
};

&acodec {
	pa-ctl-gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&combphy_pu {
	status = "okay";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m0_xfer>;

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_int>;

		interrupt-parent = <&gpio4>;
		interrupts = <RK_PC1 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};

&pinctrl {
	leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		user_led_pin: user-led-pin {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio-key {
		key1_pin: key1-pin {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	hym8563 {
		rtc_int: rtc-int {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm4 {
	status = "okay";
};

/* GPIO Connector */
&gpio1 {
	gpio-line-names =
		/* GPIO1 A0-A7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO1 B0-B7 */
		"", "",
		"PIN_05 [I2C5_SCL_M0]", "PIN_03 [I2C5_SDA_M0]",
		"PIN_16", "PIN_18",
		"PIN_23 [SPI1_CLK]", "PIN_19 [SPI1_MOSI]",
		/* GPIO1 C0-C7 */
		"PIN_21 [SPI1_MISO]", "PIN_24 [SPI1_CSN0]", "PIN_22 [SPI1_CSN1]", "",
		"", "", "", "",
		/* GPIO1 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

&gpio4 {
	gpio-line-names =
		/* GPIO4 A0-A7 */
		"PIN_15", "", "", "",
		"PIN_12", "PIN_11", "PIN_08 [UART1_TX_M0]", "PIN_10 [UART1_RX_M0]",
		/* GPIO4 B0-B7 */
		"", "", "", "",
		"PIN_13", "", "", "",
		/* GPIO4 C0-C7 */
		"", "", "", "PIN_07",
		"", "", "PIN_26", "",
		/* GPIO4 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

&i2c5 {
	status = "okay";
};

&spi1 {
	status = "okay";
	num-cs = <2>;
	pinctrl-0 = <&spi1_csn0 &spi1_csn1 &spi1_pins>;

	spidev0: spidev@0 {
		status = "okay";
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer>;
	status = "okay";
};
